<header #navBar>
  <nav>
    <h1>
      <a href="">
        <img class="nav-logo" src='./assets/kickstarter-badge.png' alt="">
      </a>
    </h1>
    <app-mobile-nav
      *ngIf="innerWidth && (innerWidth < 769)"
    ></app-mobile-nav>

    <span
      *ngIf="innerWidth && (innerWidth > 768)"
      class="nav-links"
    >
      <span *ngFor="let menuItem of menuItems">
        <a
          [href]="menuItem.url"
        >{{menuItem.text}}</a>
      </span>
      <span>

      </span>
    </span>
  </nav>
</header>
