// Colours

:root {
  --font-colour: #353535;
  --font-colour-trans: rgba(53,53,53, 0.2);
  --border-colour: #707070;
  --cream: #edece8;
  --background: white;
  --link: #3B5A95;
  --bright-link: #FE4045;
  --marketplace-orange: #F6601E;
  --marketplace-orange-trans: rgba(246, 96, 30, 0.85);
  --warning-red: #ce130b;
  --warning-red-trans: rgba(206, 19, 11, 0.2)
}
