// New stuff
$font-colour: var(--font-colour);
$border-colour: var(--border-colour);
$background-colour: var(--background);
$link-colour: var(--link);
$link-bright: var(--bright-link);
$marketplace-orange: var(--marketplace-orange);
$marketplace-orange-trans: var(--marketplace-orange-trans);
$warning-red: var(--warning-red);
$font-colour-trans: var(--font-colour-trans);
$warning-red-trans: var(--warning-red-trans);
$cream: var(--cream);



$active-link-colour: #65BDEA;
$footer-background: #0F222C;

$_shadow-color: rgba(0, 0, 0, 0.35);
$_shadow-color-lighter: rgba(0, 0, 0, 0.17);
$_shadow-color-darker: rgba(0, 0, 0, 0.85);
