<section class="cookie-bar">
  <div class="text-holder">
    <h3>Your privacy</h3>
    <div class="text-and-button">
      <div class="text">
        <p>We use cookies to show you videos hosted on vimeo.</p>
        <p>To find out more, read vimeo's <a href="//vimeo.com/privacy" alt="Vimeo privacy policy">privacy policy</a> and <a href="//vimeo.com/cookie_policy" alt="Vimeo cookie policy">cookie policy</a>.</p>
      </div>
      <a class="close cta-primary" (click)="cookieStateService.setCookieAsDismissed()">OK</a>
    </div>
  </div>
</section>
