<!--The content below is only a placeholder and can be replaced.-->
<section class="header">
  <app-nav-bar></app-nav-bar>
</section>


<section class="main">

  <h2 id="about">About</h2>

  <p>The love for guinea pigs across the globe has finally hit rock bottom and the enslavement of mankind by the Cat Overlords is absolute. Stripped of their cosy man-made homes and forced into hiding, the guinea pigs have turned on each other, battling for scarce resources to build their shelters anew.</p>

  <p>As leader of your guinea pig tribe, it’s up to you to make the decisions that will ensure the survival of your fellow piggies.</p>

  <p>Fight for resources, build shelters, pray for miracles, capture prisoners, house the wounded and protect your Forgotten Floof from catastrophe.</p>


  <img src="./assets/1_play the game@0.5x.png">

  <img src="./assets/2__objective@0.5x.png">

  <img id="how-to-play" class="link-hack" src="./assets/3_h2p-header@0.5x.png">

  <img src="./assets/4_h2p-body@0.5x.jpg">

  <img id="whats-in-the-box" class="link-hack" src="./assets/5_Whats in the box@0.5x.png">

  <img id="back-us" class="link-hack" src="./assets/6_Stretch goals.png">


  <h2>When will I get my floof?</h2>

  <p>We have a number of quotes from manufacturers and fulfilment partners who have estimated the end of November 2018 for final delivery but to be on the safe side we'd rather under promise and over deliver so we're aiming to have your Floof with you by the end of January 2019.</p>


  <h2>Shipping & Fulfilment</h2>

  <p>You'll be asked to pay for shipping through the pledge manager BackerKit after the campaign has ended. Please do not add shipping to your pledges through Kickstarter.</p>


  <img class="backer-kit" src="./assets/7_backerkit-banner.png">

  <h2>Below you can find the estimated shipping costs for the game for your region:</h2>

  <ul>
    <li>UK: £5</li>
    <li>USA: £9</li>
    <li>Europe: £7</li>
    <li>Canada: £12</li>
    <li>Australia / New Zealand: £25</li>
    <li>Rest of the world: £25</li>
    <li>Additional artwork print rewards will ship separately.</li>
  </ul>

  <p>Please note we are unable to ship to these countries: Russia, Ukraine, Kazakhstan and Afghanistan</p>

  <p>Also we're EU friendly so no hidden customs / VAT charges!</p>


  <img class="eu-friendly" src="./assets/8_Eu-Friendly-Banner.png">


  <h2>The Floof-makers</h2>

  <p>Forgotten Floof has been a huge team effort and wouldn't be possible without the dedication and creativity of everyone involved.</p>

  <ul>
    <li>Kieran Lad: Floof Creator</li>
    <li>Pariya Thamnusarn: Designer of Floof</li>
    <li>Stefan Christou: Consultant Floof</li>
    <li>Sarah Lad: Floof Organiser</li>
    <li>Benjamin Spiteri: Script-writing Floof</li>
  </ul>

  <h2>With special thanks to:</h2>

  <ul>
    <li>Terry Mynott</li>
    <li>Patrick Toner</li>
    <li>Karen Grunwald</li>
    <li>and our wonderful Friends and Family who have given us endless love, support and feedback!</li>
  </ul>

  <h2>Risks and challenges</h2>

  <p>Though this is our first foray into the world of table top gaming we have a collective 25 years of experience in delivering large scale projects.</p>

  <p>Coupled with a number of partners that have a lot of experience in this area we're already well on our way to making good on the promises of the campaign.</p>

  <p>We're not doing complicated rewards or anything that would make the distribution process take longer and by keeping things as simple as possible we're reducing the risk on the project.</p>

  <p>We want you to be able to get your hands on some guinea-floof as quickly as possible and we're taking the steps necessary to make this happen.</p>

  <p>Learn about accountability on Kickstarter</p>
  <p>Questions about this project? Check out the FAQ</p>

</section>

<section
  class="cookie-bar"
  *ngIf="cookieService.showCookiesMessage$ | async"
>
  <app-cookie-message></app-cookie-message>
</section>
