@import "../../../../styles/base/base";

$_z-indexes-nav: (
  button
  links
);

.toggle {
  position: absolute;
  height: $spacing-base;
  width: $spacing-base;
  display: inline-block;
  right: $spacing-small;
  top: $spacing-tiny * 1.5;
  z-index: z(button, $_z-indexes-nav);
  cursor: pointer;

  img {
    height: $spacing-base;
    width: $spacing-base;
  }
}

ul {
  position: absolute;
  top: 64px;
  left: 0;
  width: calc(100vw - 56px);
  height: calc(100vh - 62px);
  background: $background-colour;
  z-index: z(links, $_z-indexes-nav);
  padding: $spacing-base;
  transition: transform 300ms ease-out;
  list-style: none;
  margin: 0;
  overflow: auto;

  @media screen and (max-width: $break-small) {
    top: 52px;
    height: calc(100vh - 116px);
  }

  li {
    margin-bottom: $spacing-medium;
    font-size: 1.5em;

    @media screen and (max-width: $break-small) {
      margin-bottom: 1.3rem;
    }
  }

  a {
    text-decoration: none;
    color: $font-colour;
  }
}

