
// Definitions
$cream: #F9F5EF;
$bright-blue: #2addef;
$light-blue: #5F9196;
$dark-blue: #0F3D56;
$graphite: #353535;
$crimson: #B72033;

// Semantic defs
$font-colour: $graphite;
$border-colour: $dark-blue;
$background-colour: $cream;
$blue-background: $light-blue;
$link-colour: $light-blue;
$link-dark: $dark-blue;
$bright-link: $bright-blue;
$warning-red: $crimson;
$active-link-colour: $dark-blue;
$text-on-blue-colour: white;
// Shadows
$_shadow-color: rgba(0, 0, 0, 0.35);
$_shadow-color-lighter: rgba(0, 0, 0, 0.17);
$_shadow-color-darker: rgba(0, 0, 0, 0.85);
