// Font family definitions

//Font stack
$font-stack-sans-serif: "Helvetica Neue", Helvetica, sans-serif;
$font-stack-serif: Georgia, serif;

$font-stack-base: $font-stack-sans-serif;
$font-stack-heading: $font-stack-sans-serif;


